<div class="col-10 border 
          Regular shadow  formContainer ">
  <div class="card-header">
    {{Instruction}}
  </div>

  <div class="d-flex flex-row">
    <div class="p-2">
      <br> <br>
      <input type="number" id="A" name="A" min="15" max="50" [(ngModel)]="sideA"></div>
    <div class="p-2">
      <div class="triangle "></div>

    </div>
    <div class="p-2">
      <br>
      <h4 *ngIf="show" style=color:red;> {{sideC}} </h4>
    </div>
  </div>

  <div class="formContainer ">
    <input type="number" id="B" name="B" min="10" max="15" [(ngModel)]="sideB">


  </div>
  <div class="resultContainer card-footer text-muted">
    <button type="button" class="btn btn-primary btn-lg btn-block btn btn-success" (click)=" Pythagorean()">
      Calculate
    </button>
    <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="Reset()">Reset
    </button>
  </div>

</div>